/* Existing CSS */
.item-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

.item-card h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.item-details .detail {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.item-details .detail:last-child {
    border-bottom: none;
}

.label {
    font-weight: bold;
    color: #555;
}

.value {
    color: #777;
}

input {
    border: none;
    background-color: #f4f4f4;
    color: #333;
    width: 60%;
}

input:disabled {
    background-color: #f0f0f0;
    color: #666;
}

#responseText {
    height: 20px;
    font-size: 0.9rem;
    margin: auto;
    text-align: center;
}

.primary-action-container {
    display: flex;
    gap: 10px;
}

.primary-action-container>button {
    flex: 1;
    width: 100%;
}

/*button {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*button:hover {*/
/*    background-color: #45a049;*/
/*}*/
