/* Existing CSS */
.item-card {
    width: 90%;
    max-width: 400px;
}

.card-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.item-card h1 {
    font-size: 24px;
    color: #333;
    text-align: left;
    display: inline-block;
}

.delete-button-container {
    display: inline-block;
}

.item-details .detail {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.item-details .detail:last-child {
    border-bottom: none;
}

.label {
    font-weight: bold;
    color: #555;
    padding: 5px;
}

.value {
    color: #777;
}

.not-editable {
    cursor: default;
    width: 60%;
    background-color: #ececec;
    color: #666;
    padding: 5px;
    border-radius: 4px;
}

input, select {
    border: none;
    background-color: #f4f4f4;
    color: #333;
    width: 60%;
    padding: 5px;
    border-radius: 4px;
}

input:disabled, select:disabled {
    background-color: #ececec;
    color: #666;
}

#responseText {
    height: 20px;
    font-size: 0.9rem;
    margin: auto;
    text-align: center;
}

.primary-action-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.action-row {
    display: flex;
    gap: 10px;
}

.action-row>button {
    flex: 1;
    width: 100%;
}