{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/item.css') }}">
{% endblock %}


{% block main %}
    <div class="item-card" style="margin: auto">
        <h1 id="objectName">Checkout {{ checkout.checkout_id }}</h1>
        <form id="objectForm">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
            <div class="item-details">
                <div class="detail">
                    <label for="name" class="label">Item ID</label>
                    <input type="text" id="name" name="checkout_id" value="{{ checkout.checkout_id or '' }}" disabled>
                </div>
                <div class="detail">
                    <label for="employee_id" class="label">Employee_id</label>
                    <input type="text" id="employee_id" name="employee_id" value="{{ checkout.employee_id or '' }}" disabled>
                </div>
                <div class="detail">
                    <label for="checkout_date" class="label">Checkout Date</label>
                    <input type="text" id="checkout_date" name="checkout_date" value="{{ checkout.checkout_date or '' }}" disabled readonly>
                </div>
                <div class="detail">
                    <label for="returned_date" class="label">Returned Date</label>
                    <input type="text" id="returned_date" name="returned_date" value="{{ checkout.returned_date or '' }}" disabled readonly>
                </div>
            </div>
            <input type="hidden" id="objectId" name="checkout_id" value="{{ checkout.checkout_id }}" disabled readonly>
            <p id="responseText"></p>
            {% if current_user.is_authenticated and current_user.is_admin %}
            <button type="button" id="editButton" onclick="toggleEdit('{{ url_for("api.update_checkout", checkout_id=checkout.checkout_id) }}')">Edit</button>
            {% endif %}
        </form>
    </div>
    {% if current_user.is_authenticated and current_user.is_admin %}
    <script src="{{ url_for('static', filename='javascript/update_form.js') }}"></script>
    {% endif %}
{% endblock %}