{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/item.css') }}">
{% endblock %}


{% block main %}
    <div class="item-card" style="margin: auto">
        <h1 id="objectName">{% if employee %}{{ employee.first_name }}{% else %}Create Item{% endif %}</h1>
        <form id="objectForm">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
            <div class="item-details">
                <div class="detail">
                    <label for="name" class="label">First Name</label>
                    <input type="text" id="name" name="first_name" value="{{ (employee.first_name if employee) or '' }}"
                           {% if employee %}disabled{% endif %}>
                </div>
                <div class="detail">
                    <label for="last_name" class="label">Last Name</label>
                    <input type="text" id="last_name" name="last_name"
                           value="{{ (employee.last_name if employee) or '' }}" {% if employee %}disabled{% endif %}>
                </div>
                <div class="detail">
                    <label for="title" class="label">Title</label>
                    <input type="text" id="title" name="title" value="{{ (employee.title if employee) or '' }}"
                           {% if employee %}disabled{% endif %}>
                </div>
                <div class="detail">
                    <label for="reports_to" class="label">Reports to Id</label>
                    <input type="text" id="reports_to" name="reports_to"
                           value="{{ (employee.reports_to if employee) or '' }}"
                           {% if employee %}disabled{% endif %}>
                </div>
                <div class="detail">
                    <label for="username" class="label">Username</label>
                    <input type="text" id="username" name="username"
                           value="{{ (employee.username if employee) or '' }}"
                           {% if employee %}disabled{% endif %}>
                </div>
                <div class="detail">
                    <label for="password" class="label">Password</label>
                    <input type="text" id="password" name="password" value=""
                    {% if employee %}disabled{% endif %}>
                </div>
            </div>
            <input type="hidden" id="objectId" name="employee_id" value="{{ (employee.employee_id if employee) }}"
                   disabled readonly>
            <p id="responseText"></p>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <button type="button" id="editButton"
                        onclick="toggleEdit('{% if employee %}{{ url_for("api.update_employee", employee_id=employee.employee_id) }}{% else %}{{ url_for("api.create_employee") }}{% endif %}')">
                    {% if employee %}Edit{% else %}Create{% endif %}
                </button>
            {% endif %}
        </form>
    </div>
    {% if current_user.is_authenticated and current_user.is_admin %}
        <script src="{{ url_for('static', filename='javascript/update_form.js') }}"></script>
    {% endif %}
{% endblock %}