{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/large_table.css') }}">
{% endblock %}


{% block main %}
    {% if current_user.is_authenticated and current_user.is_admin %}
        <a href="{{ url_for('main.create_employee') }}">Create</a>
    {% endif %}
    <div class="table-container" style="max-width: 1500px; margin: auto">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Title</th>
                <th>Reports To</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr onclick="window.location.href='{{ url_for('main.employee_details', employee_id=employee.employee_id) }}';">
                    <td>{{ employee.employee_id }}</td>
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.title }}</td>
                    <td>{{ employee.reports_to_name }}</td>
                    <td>{{ employee.username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}