{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/large_table.css') }}">
{% endblock %}


{% block main %}
    <div class="page-container">
        <div class="list-table highlightable page-card" style="max-width: 1500px;">
            <div class="table-label">
                <h3>Items</h3>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.create_item') }}" class="btn btn-success" role="button">Create</a>
                {% endif %}
            </div>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Model Number</th>
                    <th>Serial Number</th>
                    <th>Location</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr onclick="window.location.href='{{ url_for('main.item_details', item_id=item.item_id) }}';">
                        <td>{{ item.name }}</td>
                        <td>{{ item.brand }}</td>
                        <td>{{ item.model }}</td>
                        <td>{{ item.serial }}</td>
                        <td>{{ item.location_name }}</td>
                        <td>{{ item.status_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}