{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/qrcode_label.css') }}">
{% endblock %}


{% block main %}
    <div class="item-card" style="margin: auto">
        <div class="card-header-container">
            <h1 id="objectName">{% if item %}{{ item.name }}{% else %}Create Item{% endif %}</h1>
            {% if item and current_user and current_user.is_admin %}
                <div class="delete-button-container">
                    <button type="button" id="deleteButton" class="btn btn-danger shadow-none"
                            onclick="deleteObject('{{ url_for('api.delete_item', item_id=item.item_id) }}')">
                        Delete
                    </button>
                    <button type="button" id="cancelDeleteButton" class="btn btn-secondary shadow-none"
                            style="display: none;"
                            onclick="cancelDelete()">
                        Cancel
                    </button>
                </div>
            {% endif %}
        </div>
        <form id="objectForm">
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
            <div class="item-details">
                <div class="detail">
                    <label for="name" class="label">Name:</label>
                    <input type="text" id="name" name="name" value="{{ (item.name if item) or '' }}"
                           {% if item %}disabled{% endif %} required>
                </div>
                <div class="detail">
                    <label for="brand" class="label">Brand:</label>
                    <input type="text" id="brand" name="brand" value="{{ (item.brand if item) or '' }}"
                           {% if item %}disabled{% endif %}>
                </div>
                <div class="detail">
                    <label for="model" class="label">Model:</label>
                    <input type="text" id="model" name="model" value="{{ (item.model if item) or '' }}"
                           {% if item %}disabled{% endif %}>
                </div>
                <div class="detail">
                    <label for="serial" class="label">Serial:</label>
                    <input type="text" id="serial" name="serial" value="{{ (item.serial if item) or '' }}"
                           {% if item %}disabled{% endif %}>
                </div>
                <div class="detail">
                    <label for="location_choices" class="label">Location:</label>
                    <select name="location_id" id="location_choices" {% if item %}disabled{% endif %}>
                        {% for location in locations %}
                            <option value="{{ location.location_id }}"
                                    {% if item and item.location_id == location.location_id %}selected{% endif %}>
                                {{ location.location_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="detail">
                    <label for="status_choices" class="label">Status:</label>
                    <select name="status_id" id="status_choices" {% if item %}disabled{% endif %}>
                        {% for status in statuses %}
                            <option value="{{ status.status_id }}"
                                    {% if item and item.status_id == status.status_id %}selected{% endif %}>
                                {{ status.status_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input type="hidden" id="objectId" name="item_id" value="{{ item.item_id if item }}" disabled readonly>
            <p id="responseText"></p>
            <div class="primary-action-container">
                <div class="action-row">
                    {% if current_user and current_user.is_admin %}
                        {% if item %}
                            <button type="button" id="cancelButton" class="btn btn-secondary shadow-none"
                                    style="display: none;"
                                    onclick="cancelEdit(`{{ url_for("api.get_single_item", item_id=item.item_id) }}`)">
                                Cancel
                            </button>
                        {% endif %}
                        <button type="button" id="editButton" class="btn btn-success shadow-none"
                                onclick="toggleEdit('{% if item %}{{ url_for("api.update_item", item_id=item.item_id) }}{% else %}{{ url_for("api.create_item") }}{% endif %}')">
                            {% if item %}Edit{% else %}Create{% endif %}
                        </button>
                    {% endif %}
                </div>
                <div class="action-row">
                    {% if item %}
                        <button type="button" id="printButton" class="btn btn-info shadow-none"
                                onclick="window.print()">
                            Print Label
                        </button>
                    {% endif %}
                    {% if item and current_user and current_user.is_authenticated %}
                        {% if item.status_id == 1 %}
                            <button type="button" id="checkoutButton" class="btn btn-primary shadow-none"
                                    onclick="checkout('{{ url_for("api.create_checkout") }}', {{ item.item_id }})">
                                Checkout
                            </button>
                        {% elif item.status_id == 2 %}
                            <button type="button" id="returnCheckoutButton" class="btn btn-primary shadow-none"
                                    onclick="returnCheckout('{{ url_for("api.return_item_by_id", item_id=item.item_id) }}')">
                                Return
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    {% if current_user and current_user.is_admin %}
        <script src="{{ url_for('static', filename='javascript/update_form.js') }}"></script>
    {% endif %}
{% endblock %}

{% block printable %}
    {% if item and current_user and current_user.is_authenticated %}
        <script src="{{ url_for('static', filename='javascript/checkout.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/qrcode/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/qrcode/qrcode.js') }}"></script>

        <div id="printableLabel">
            <div id="qrcode"></div>
            <div class="label-text">
                <h1 class="label-name">
                    {{ item.name }}
                </h1>
                {% if item.location_name %}
                    <h2 class="label-item-location">
                        {{ item.location_name }}
                    </h2>
                {% endif %}
            </div>
        </div>

        <script type="text/javascript">
            new QRCode(document.getElementById("qrcode"), {
                text: "http://jindo.dev.naver.com/collie",
                width: 128,
                height: 128,
                {#correctionLevel: QRCode.CorrectLevel.M#}
            });
        </script>
    {% endif %}
{% endblock %}