<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/qrcode_label.css') }}">
</head>
<body>
<script src="{{ url_for('static', filename='javascript/qrcode/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/qrcode/qrcode.js') }}"></script>
{#        <script src="{{ url_for('static', filename='javascript/print_label.js') }}"></script>#}

<div id="printableLabel">
    <div id="qrcode"></div>
    <div class="label-text">
        <h1 class="label-name">Test Name</h1>
        <h2 class="label-item-location">testlocation</h2>
    </div>
</div>
<button id="printButton">Print</button>
<script type="text/javascript">
    function printLabel() {
        let areaToPrint = document.getElementById('printableLabel');
        areaToPrint.classList.add('print-area');
        window.print();
    }

    document.getElementById('printButton').addEventListener('click', printLabel);

    new QRCode(document.getElementById("qrcode"), {
        text: "http://jindo.dev.naver.com/collie",
        width: 128,
        height: 128,
        {#correctionLevel: QRCode.CorrectLevel.M#}
    });
</script>
</body>
</html>